<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Invernaderos</title>
</head>
<body>
    <h1>Lista de Invernaderos</h1>
    <form action="#" th:action="@{/invernaderos}" method="post">
        <label for="id">ID del Invernadero:</label>
        <input type="text" id="id" name="id" required>
        <label for="tipo">Tipo de Actuador:</label>
        <input type="text" id="tipo" name="tipo" required>
        <button type="submit">Agregar Invernadero</button>
    </form>
    <ul>
        <li th:each="invernadero : ${invernaderos}">
            <span th:text="${invernadero.idInvernadero}">ID</span> - 
            <span th:text="${invernadero.tipo}">Tipo</span>
        </li>
    </ul>
</body>
</html>
